/*  your css code here. If applicable */
.outer{
	display: flex;
	justify-content:center;
	align-content: center;
	border: 3px solid black;
	background-color: gray;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	gap: 5px;
}
.red{
	background-color: red;
	height: 50%;
	width: 50%;
}
.green{
	background-color: green;
	height: 50%;
	width: 50%;
}
.yellow{
	background-color: yellow;
	height: 50%;
	width: 50%;
}